{% set showModul = (block.modulAusblenden)? false : true %}
{% if showModul %}
     {# *------------* Konfiguration *------------ *#}
     {% set pageSizeArtikel = block.anzahlArtikel|number %}
     {% set showPager = block.pager|number %}
     {% if showPager == 0 %}
          {% set pageSizeArtikel = 10000 %}
     {% endif %}
     {# *-----------------------------------------*#}

     {% set sortBy= block.sortierung %}
     {% if sortBy == 'desc' %}
          {% set blogItems = craft.entries()
               .section('blog')
               .orderBy('dateCreated desc')
               .limit(pageSizeArtikel) %}
     {% elseif sortBy == 'asc' %}
          {% set blogItems = craft.entries()
               .section('blog')
               .orderBy('dateCreated asc')
               .limit(pageSizeArtikel) %}
     {% else %}
          {% set blogItems = craft.entries()
               .section('blog')
               .limit(pageSizeArtikel) %}
     {% endif %}

     {# *-----------------------------------------*#}

     {% paginate blogItems as pageInfo, entries %}

     {% set pageParam = craft.app.request.absoluteUrl %}
     {% set myUrl = url(craft.app.request.pathInfo) %}
     {% set url= myUrl ~ "/p1"  %}
     {% if '/p' not in pageParam %}
          {#  {% redirect craft.request.path."/blog/p1" %} #}
          {% redirect url %}
     {% endif %}

     {# *-----------------------------------------*#}

     {% set anzahlBlogArtikel = blogItems.count()  %}
     {% if showPager == 1 and anzahlBlogArtikel > 3 and anzahlBlogArtikel > pageSizeArtikel %}
          {% set pager = true %}
     {% else %}
          {% set pager = false %}
     {% endif %}

     {% if block.buttonText is not empty  %}
          {% set buttontext = block.buttonText %}
     {% else %}
          {% set buttontext = '<img src="/assets/images/arrow-right.svg" />' %}
     {% endif %}

     {# *-----------------------------------------*#}

     {% if pager %}
          {% set items = entries %}
     {% else %}
          {% set items = blogItems %}
     {% endif %}

     {# *-----------------------------------------*#}

     <div id="articles" class="wl-wrapper">
          <div class="wl-article-container">
               {% for entry in items %}
                    <div class="wl-article">
                         <article>
                              {% set showArticleImage =  false %}
                              {% set teaserImage =  entry.imagesingle|default(false) %}

                              {% if teaserImage is defined and teaserImage and teaserImage.one() %}
                                   {% set articleImage = teaserImage.one() %}
                                   {% set showArticleImage =  true %}
                              {% else %}
                                   {# Single Image Detailseite ------------------------------------------------------- #}
                                   {% set imageDetail = entry.keyvisualImageSingle|default(false)  %}
                                   {% if imageDetail is defined and imageDetail and imageDetail.one() %}
                                        {% set articleImage = imageDetail.one() %}
                                        {% set showArticleImage =  true %}
                                   {% endif %}
                              {% endif %}

                              {% if showArticleImage %}
                                   {% set settings = {
                                        '0-900' : {
                                             'size' : '400x249',
                                             'mode' : 'crop'
                                        },
                                        '1-800': {
                                             'size' : '600x374',
                                             'mode' : 'crop'
                                        },
                                        '2-500': {
                                             'size' : '400x249',
                                             'mode' : 'crop'
                                        }
                                   } %}
                                   <div class="article-img">
                                        {% include '_include-atoms/image-picture' with {class: 'blog-teaser-img', sourceMediaSettings: settings, image: articleImage, imageSize: '550x343', imageMode: 'crop'} %}
                                   </div>
                              {% endif %}
                              <div class="article-text">
                                   <div class="article-title article-title-js">
                                        <h4>{{ entry.blogTeaserHeadline }}</h4>
                                   </div>
                                   <div class="article-body article-body-js">
                                        {{entry.blogTeaserText}}
                                   </div>
                                   <div class="article-btn">
                                        <a class="article-button" href="{{ entry.url }}">
                                             <svg class="article-button-arrow" xmlns="http://www.w3.org/2000/svg" width="15" height="37" viewBox="0 0 21.23 36.028">
                                                  <path id="arrow-slider-right" d="M19.969,2,3,18.584,19.969,35.168" transform="translate(21.367 36.598) rotate(180)" fill="none" stroke="#111" stroke-width="4"/>
                                             </svg>
                                             <span>{{ buttontext|raw}}</span>
                                        </a>
                                   </div>
                              </div>
                         </article>
                    </div>
               {% endfor %}
          </div>
     </div>

     {% if pager %}
          <div class="blog-pagination-container" style="margin-top: 50px;">

               <div class="blog-pagination">

                    <div class="blog-pagination-arrow-left">
                         <a class="links {% if not pageInfo.prevUrl %} disabled{% endif %}"{% if pageInfo.prevUrl %} href="{{ pageInfo.prevUrl }}#articles"{% endif %}>
                              <svg class="pagination-arrow-left" width="15" height="37" viewBox="0 0 22 37" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M19.9688 2.00049L2.99825 18.5843L19.9688 35.168" stroke="#111" stroke-width="4"></path></svg>
                              <span class="pagination-back">Vorherige Seite</span>
                         </a>
                    </div>

                    <div class="blog-pagination-arrow-counter">
                         <div class="blog-pagination-arrow-counter-inner">
                              {% for i in range(1,pageInfo.totalPages) %}
                                   <a class="{% if pageInfo.currentPage == loop.index %} active{% endif %}" href="{{ myUrl }}/p{{loop.index}}#articles">{{loop.index}}</a>
                              {% endfor %}
                         </div>
                    </div>

                    <div class="blog-pagination-arrow-right">
                         <a class="rechts {% if not pageInfo.nextUrl %} disabled{% endif %}"{% if pageInfo.nextUrl %} href="{{ pageInfo.nextUrl }}#articles"{% endif %}>
                              <span class="pagination-next">Nächste Seite</span>
                              <svg class="pagination-arrow-right" xmlns="http://www.w3.org/2000/svg" width="15" height="37" viewBox="0 0 21.23 36.028">
                                   <path id="arrow-slider-right" d="M19.969,2,3,18.584,19.969,35.168" transform="translate(21.367 36.598) rotate(180)" fill="none" stroke="#111" stroke-width="4"/>
                              </svg>

                         </a>
                    </div>

               </div>

          </div>
     {% endif %}

{% endif %}
