{% macro errorList(errors) %}

    {% if errors %}
        <ul class="errors">
            {% for error in errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endmacro %}

{% from _self import errorList %}

{% set form = wheelform.form({
    id: formularId,
    redirect: formularAntwortUrl,
}) %}

<div id="form" class="wl-form-wrapper">

{{ form.open() }}
{#
{{ wheelformErrors['honeypot'] is defined ? errorList(wheelformErrors['honeypot']) }}
#}

{{ form.honeypot() }}
{% set errorArray = [] %}
{% set formError = 0 %}
{% set setAciveClass = '' %}

    {% for field in form.fields %}
    {% switch field.type %}
    {% case "checkbox" %}
        <div class="form-checkbox form-item-wrapper InputfieldCheckbox{{ wheelformErrors[field.name] is defined ? ' formStateError'}}">
            {% for item in field.items %}
                <label>
                    <input class="checkbox {{field.name}} {{field.fieldClass}}" type="checkbox" value="{{ item }}" {{values[field.name] is defined and item in values[field.name] ? ' checked="checked"' : '' }} name="{{field.name}}[]" id=""/>
                    <div class="checkmark-labletext">
                        {% if field.name == 'dsgvo' %}
                            {% set labletext = block.datenschutzCheckboxLabelText %}
                        {% else %}
                            {% set labletext = field.label %}
                        {% endif %}
                        <span class="checkmark"></span>
                        <span class="mandatory{% if field.required %} required{% endif %}"><em></em></span>
                        <span class="labletext{% if field.name == 'dsgvo' %}-dsgvo{% endif %}{% if field.required %} required{% endif %}">{{ labletext }}</span>
                    </div>
                </label>
            {% endfor %}
        </div>
    {% case "radio" %}
        <div class="form-radio form-item-wrapper InputfieldRadio{{ wheelformErrors[field.name] is defined ? ' formStateError'}}">
            {% for item in field.items %}
                <label>{{field.label|raw}} <em></em></label>
                <input class="radio {{field.name}} {{field.fieldClass}}" type="radio" value="{{ item }}" {{values[field.name] is defined and item == values[field.name] ? ' checked="checked"' : '' }} name="{{field.name}}" id=""/>
                <label>{{item}}</label>
            {% endfor %}
        </div>
    {% case "select" %}
        <div class="form-select form-item-wrapper InputfieldSelect{{ wheelformErrors[field.name] is defined ? ' formStateError'}}">
            <label class="select-icon{% if field.required %}  required{% endif %}">{{field.label}}<em></em></label>
            <select id="wf-select" name="{{field.name}}" class="wf-field {{field.fieldClass}}">
                <option></option>
                {% for item in field.items %}
                    <option value="{{ item }}" {{values[field.name] is defined and item == values[field.name] ? 'selected="selected"' : '' }}>{{item}}</option>
                {% endfor %}
            </select>
        </div>
    {% case "file" %}
        <div class="form-group form-item-wrapper InputfieldFile{{ wheelformErrors[field.name] is defined ? ' formStateError'}}">
            <label>{{field.label|raw}} <em></em></label>
            <input class="form-control {{field.name}} {{field.fieldClass}}" type="file" name="{{field.name}}" id=""/>
        </div>
    {% case "textarea" %}
        <div class="form-group form-item-wrapper InputfieldTextarea{{ wheelformErrors[field.name] is defined ? ' formStateError'}}">
            {% set setAciveClass = '' %}
            {% if craft.app.request.getBodyParam(field.name) != '' %}
                {% set setAciveClass = 'active' %}
            {% endif %}
            <label class="{{ setAciveClass }} lableInputField{% if field.required %} required{% endif %}"> {{field.label}}<em></em></label>
            <textarea class="form-control {{field.name}} {{field.fieldClass}}" name="{{field.name}}" id="">{{ values[field.name] ?? '' }}</textarea>
        </div>
    {% case "list" %}
        <div class="form-group form-item-wrapper InputfieldList{{ wheelformErrors[field.name] is defined ? ' formStateError'}}">
            <label>{{field.label|raw}} <em></em></label>
            <input class="form-control {{field.name}} {{field.fieldClass}}" type="text" name="{{field.fieldClass}} {{field.name}}[]" id=""/>
            <script>//Javascript to handle adding fields</script>
        </div>
    {% default %}
        <div class="form-group form-item-wrapper InputfieldText{{ wheelformErrors[field.name] is defined ? ' formStateError'}}">
            {% set setAciveClass = '' %}
            {% if craft.app.request.getBodyParam(field.name)|length %}
                {% set setAciveClass = 'active' %}
            {% elseif field.name == 'telefon' %}
                {% if craft.app.request.getBodyParam('quick_tel')|length  %}
                    {% set setAciveClass = 'active' %}
                {% endif %}
            {% elseif field.name == 'email' %}
                {% if craft.app.request.getBodyParam('quick_mail')|length  %}
                    {% set setAciveClass = 'active' %}
                {% endif %}
            {% elseif field.name == 'name' %}
                {% if craft.app.request.getBodyParam('quick_name')|length  %}
                    {% set setAciveClass = 'active' %}
                {% endif %}
            {% else %}
                {% set setAciveClass = '' %}
            {% endif %}
            <label class="{{ setAciveClass }} lableInputField{% if field.required %} required{% endif %}"> {{field.label}}<em></em></label>
            {% set valueResult = '' %}
            {% if field.name == 'telefon' %}
                    {% set postTel = craft.app.request.getBodyParam('quick_tel') %}
                    {% if postTel|length  %}
                        {% set valueResult = postTel %}
                    {% else %}
                        {% set valueResult = craft.app.request.getBodyParam(field.name) %}
                    {% endif %}
            {% elseif field.name == 'email' %}
                    {% set postMail = craft.app.request.getBodyParam('quick_mail') %}
                    {% if postMail|length  %}
                        {% set valueResult = postMail %}
                    {% else %}
                        {% set valueResult = craft.app.request.getBodyParam(field.name) %}
                    {% endif %}
            {% elseif field.name == 'name' %}
                    {% set postName = craft.app.request.getBodyParam('quick_name') %}
                    {% if postName|length  %}
                        {% set valueResult = postName %}
                    {% else %}
                        {% set valueResult = craft.app.request.getBodyParam(field.name) %}
                    {% endif %}
            {% else %}
                {% set valueResult = values[field.name] ?? '' %}
            {% endif %}
            <input class="form-control {{field.name}} {{field.fieldClass}}" type="{{field.type}}" value="{{ valueResult }}" name="{{field.name}}" id="form-{{field.name}}"/>
        </div>
    {% endswitch %}

    {#
    {{ wheelformErrors[field.name] is defined ? errorList(wheelformErrors[field.name]) }}
    #}
    {% if wheelformErrors[field.name] is defined %}
        {% set fieldNames = field.label %}
        {% set errorArray = errorArray|merge( [fieldNames] )  %}
        {% set formError = 1 %}
    {% endif %}

{% endfor %}

    {#
        <pre>{{ dump(errorArray) }}</pre>
        <div class="InputfieldSubmit"><button class="btn-form" id="submit">Send</button></div>
    #}
    <button type="submit" class="submit-button" id="submit">{{ block.submitButtonText }}</button>

    {% if formError == 1%}
        <div class="form-info">
            {{ block.infoText }}
        </div>
    {% endif %}
    <div id="lock-modal"></div>
    <div id="loading-circle"><img src="/assets/images/loading-circle.svg" alt="loading-circle" /></div>

</form>

<script>
    $(document).ready(function() {
        var cookieExist = getCookie('scrollTo');
        if(cookieExist == "1" ){
            $('html, body').animate({
                scrollTop: $('#form').offset().top
            }, 900, 'swing');
        } else {
            setCookie('scrollTo','1',1);
        }

        floatLabel(".form-control");
    });

    /**
     * Lables Interaktion
     * @param inputType
     */
    function floatLabel(inputType){
        $(inputType).each(function(){
            var $this = $(this);
            // on focus add cladd active to label
            $this.focus(function(){
                $this.parent().find('.lableInputField').addClass("active");
            });
            //on blur check field and remove class if needed
            $this.blur(function(){
                if($this.val() === '' || $this.val() === 'blank'){
                    $this.parent().find('.lableInputField').removeClass("active");
                }
            });
        });
    }
</script>

</div>



