{% macro checkLinkList(element) %}
    {{ (element.getLink() != '')? '1' : '0'  }}
{% endmacro %}

{# ======================================================================================================================================================== #}

{% macro linkList(element, className) %}{% apply spaceless %}

    {# All Types: Asset |  Category | Custom | Email | Embed | Entry | Phone | Site | URL | User #}
    {# Types in use: Entry | URL | Custom | Email | Phone | Asset #}

    {% set type = element.label %}
    {% set text = element.getText() %}
    {% set link = element %}
    {% set class = (className != '')? ' class="' ~ className ~ '"' : '' %}
    {% set anchorName = element.anchorName|trim |replace({'#':''}) %}
    {% set anchor = (anchorName != '')? '#' ~ anchorName : '' %}
    {% set url = ( anchor != '')? link ~ anchor : link %}
    {% set target = ( element.getTarget() == '_blank' )? '_blank' : '_self' %}
    {% set showLink = (element.getLink() != '')? true : false  %}

    {# *** Cases ************************************************************* #}

    {% if  type == 'Email' %}

        {% if text == '' %}
            {% set text = link |replace({'mailto:':''}) %}
        {% endif %}

    {% elseif  type == 'Phone' %}

        {% if text == '' %}
            {% set text = link |replace({'tel:':''}) %}
        {% endif %}
        {% set cleanPhonenumber = 'tel:' ~ craft.wul.phone(link,'','','','','1')|raw  %}

    {% endif %}
    {# ************************************************************************* #}

    {% if showLink %}

        {% if type == 'Entry' %}
            {# Entry --------------------------------------------------------------------- #}
            <a href="{{ url|raw }}"{{ class|raw }} target="{{ target }}">{{ text|trim }}</a>
        {% elseif  type == 'URL' %}
            {# URL --------------------------------------------------------------------- #}
            <a href="{{ url|raw }}"{{ class|raw }} target="{{ target }}">{{ text|trim }}</a>
        {% elseif  type == 'Custom' %}
            {# Custom --------------------------------------------------------------------- #}
            <a href="{{ url|raw }}"{{ class|raw }} target="{{ target }}">{{ text|trim }}</a>
        {% elseif  type == 'Asset' %}
            {# Asset --------------------------------------------------------------------- #}
            <a href="{{ url|raw }}"{{ class|raw }} target="{{ target }}">{{ text|trim }}</a>
        {% elseif  type == 'Email' %}
            {# URL --------------------------------------------------------------------- #}
            <a href="{{ url|raw }}"{{ class|raw }} target="{{ target }}">{{ text|trim }}</a>
        {% elseif  type == 'Phone' %}
            {# URL --------------------------------------------------------------------- #}
            <a href="{{ cleanPhonenumber }}"{{ class|raw }}>{{ text|trim }}</a>
        {% endif %}

    {% endif %}

{% endapply %}{% endmacro %}

{# ======================================================================================================================================================== #}

{% macro linkListOnlyAtag(element, className) %}{% apply spaceless %}

    {# All Types: Asset |  Category | Custom | Email | Embed | Entry | Phone | Site | URL | User #}
    {# Types in use: Entry | URL | Custom | Email | Phone | Asset #}

    {% set type = element.label %}
    {% set text = element.getText() %}
    {% set link = element %}
    {% set class = (className != '')? ' class="' ~ className ~ '"' : '' %}
    {% set anchorName = element.anchorName|trim |replace({'#':''}) %}
    {% set anchor = (anchorName != '')? '#' ~ anchorName : '' %}
    {% set url = ( anchor != '')? link ~ anchor : link %}
    {% set target = ( element.getTarget() == '_blank' )? '_blank' : '_self' %}
    {% set showLink = (element.getLink() != '')? true : false  %}

    {# *** Check & Cases ******************************************************** #}
    {% if  type == 'Phone' %}
        {% set cleanPhonenumber = 'tel:' ~ craft.wul.phone(link,'','','','','1')|raw  %}
    {% endif %}
    {# ************************************************************************* #}

    {% if showLink %}

        {% if type == 'Entry' %}
            {# Entry --------------------------------------------------------------------- #}
<a href="{{ url|raw }}"{{ class|raw }} target="{{ target }}">
    {% elseif  type == 'URL' %}
    {# URL --------------------------------------------------------------------- #}
    <a href="{{ url|raw }}"{{ class|raw }} target="{{ target }}">
        {% elseif  type == 'Custom' %}
        {# Custom --------------------------------------------------------------------- #}
        <a href="{{ url|raw }}"{{ class|raw }} target="{{ target }}">
            {% elseif  type == 'Asset' %}
            {# Asset --------------------------------------------------------------------- #}
            <a href="{{ url|raw }}"{{ class|raw }} target="{{ target }}">
                {% elseif  type == 'Email' %}
                {# URL --------------------------------------------------------------------- #}
                <a href="{{ url|raw }}"{{ class|raw }} target="{{ target }}">
                    {% elseif  type == 'Phone' %}
                    {# URL --------------------------------------------------------------------- #}
                    <a href="{{ cleanPhonenumber }}"{{ class|raw }}>
                        {% endif %}

                        {% endif %}

                        {% endapply %}{% endmacro %}