{% set imgFormat = siteconfig.imageFormat %}
     {% set imgQuality = 85 %}
     {# *------------* Konfiguration *------------ *#}
     {% set karriereItems = craft.entries()
          .section('karriere') %}

     {% set pageSizeArtikel = block.anzahlArtikel|number %}
     {% set anzahlkarriereArtikel = karriereItems.count()  %}
       {% if pageSizeArtikel == '' %}
            {% set pageSizeArtikel = anzahlkarriereArtikel|number %}
       {% endif %}

     {# *-----------------------------------------*#}

     {% set categorySelectedByIdParent = '' %}
     {% set sortBy= block.sortierung %}

     {% if output == 'ausbildung' or output == 'verkauf' %}

          {% switch output %}
          {% case "ausbildung" %}
               {% set parentId = '966' %}
          {% case "verkauf" %}
               {% set parentId = '968' %}
          {% endswitch %}

          {% set categorySelectedByIdParent = craft.entries().id(parentId).one() %}

          {% if sortBy == 'desc' %}
               {% set karriereItems = categorySelectedByIdParent
               .children
                    .section('karriere')
                    .orderBy('postDate desc')
                    .limit(pageSizeArtikel) %}
          {% elseif sortBy == 'asc' %}
               {% set karriereItems = categorySelectedByIdParent
               .children
                    .section('karriere')
                    .orderBy('postDate asc')
                    .limit(pageSizeArtikel) %}
          {% else %}
               {% set karriereItems = categorySelectedByIdParent
               .children
                    .section('karriere')
                    .limit(pageSizeArtikel) %}
          {% endif %}

     {% else %}

          {% set  excludeArticleIdsArray = { 0 : '968',1 : '966' } %}{# ID 1056 => Kategorie verkauf | ID 1060 => Kategorie ausbildung #}

          {% if sortBy == 'desc' %}
               {% set karriereItems = craft.entries()
                    .section('karriere')
                    .orderBy('postDate desc')
                    .id(['not']|merge(excludeArticleIdsArray))
                    .limit(pageSizeArtikel) %}
          {% elseif sortBy == 'asc' %}
               {% set karriereItems = craft.entries()
                    .section('karriere')
                    .orderBy('postDate asc')
                    .id(['not']|merge(excludeArticleIdsArray))
                    .limit(pageSizeArtikel) %}
          {% else %}
               {% set karriereItems = craft.entries()
                    .section('karriere')
                    .id(['not']|merge(excludeArticleIdsArray))
                    .limit(pageSizeArtikel) %}
          {% endif %}

     {% endif %}

     {# *-----------------------------------------*#}

     {% paginate karriereItems as pageInfo, entries %}

     {# *-----------------------------------------*#}

     {% if block.buttonText is not empty  %}
          {% set buttontext = block.buttonText %}
     {% else %}
          {% set buttontext = '<img src="/assets/images/arrow-right.svg" />' %}
     {% endif %}

     {# *-----------------------------------------*#}

     {% set showMore= block.pager|number %}

     {% if anzahlkarriereArtikel > 2 %}
          {% set items = entries %}
     {% else %}
          {% set items = karriereItems %}
     {% endif %}

     {# *-----------------------------------------*#}

         {% set counter = '1' %}
         {% if items|length > 0 %}
              {% for entry in items %}

                   <div class="wl-article" style="padding: 20px; width: 40%; border: 1px solid #000000; margin-bottom: 25px;">
                        <article>
                             {% set showArticleImage =  false %}
                             {% set teaserImage =  entry.imagesingle|default(false) %}

                             {% if teaserImage is defined and teaserImage and teaserImage.one() %}
                                  {% set articleImage = teaserImage.one() %}
                                  {% set showArticleImage =  true %}
                             {% else %}
                                  {# Single Image Detailseite ------------------------------------------------------- #}
                                  {% set imageDetail = entry.keyvisualImageSingle|default(false)  %}
                                  {% if imageDetail is defined and imageDetail and imageDetail.one() %}
                                       {% set articleImage = imageDetail.one() %}
                                       {% set showArticleImage =  true %}
                                  {% endif %}
                             {% endif %}

                             {% if showArticleImage %}
                                  {% set settings = {
                                       '0-900' : {
                                            'size' : '400x249',
                                            'mode' : 'crop'
                                       },
                                       '1-800': {
                                            'size' : '600x374',
                                            'mode' : 'crop'
                                       },
                                       '2-500': {
                                            'size' : '400x249',
                                            'mode' : 'crop'
                                       }
                                  } %}
                                  <div class="article-img">
                                       {% include '_include-atoms/image-picture' with {class: 'blog-teaser-img', sourceMediaSettings: settings, image: articleImage, imageSize: '550x343', imageMode: 'crop'} %}
                                  </div>
                             {% endif %}
                             <div class="article-text">
                                  <div class="article-title article-title-js">
                                       <h4>{{ entry.karriereTeaserHeadline }}</h4>
                                  </div>
                                  <div class="article-body article-body-js">
                                       {{entry.karriereTeaserText}}
                                  </div>
                                  <div class="article-btn">
                                       <a class="article-button" href="{{ entry.url }}">
                                            <svg class="article-button-arrow" xmlns="http://www.w3.org/2000/svg" width="15" height="37" viewBox="0 0 21.23 36.028">
                                                 <path id="arrow-slider-right" d="M19.969,2,3,18.584,19.969,35.168" transform="translate(21.367 36.598) rotate(180)" fill="none" stroke="#111" stroke-width="4"/>
                                            </svg>
                                            <span>{{ buttontext|raw}}</span>
                                       </a>
                                  </div>
                             </div>
                        </article>
                   </div>

                   {% set counter = counter + 1%}
              {% endfor %}
         {% else %}
              Es ist keine Ergebnise zu diesem Thema vorhanden!
         {% endif %}

         {% if pageInfo.nextUrl %}
              <div class="getMore">
                   <a class="getMore-js btn" data-more="{{ pageInfo.nextUrl }}">
                        {{ block.buttonTextMehr|raw }}
                   </a>
              </div>
         {% endif %}




